<nav class="site-nav">
  <a href="{{ site.baseurl }}/">Home</a>
  <a href="{{ site.baseurl }}/framework/">Framework</a>
  <a href="{{ site.baseurl }}/annexes/">Annexes</a>
  <a href="{{ site.baseurl }}/guides/">Guides</a>
  <a href="{{ site.baseurl }}/self-assessment/">Self-Assessment</a>
  <a href="{{ site.baseurl }}/crosswalk/">Crosswalk</a>
  <a href="{{ site.baseurl }}/governance/">Governance</a>
  <a href="{{ site.baseurl }}/releases/">Releases</a>
  <a href="https://github.com/Trust-In-Bharat" target="_blank" rel="noopener">GitHub</a>
</nav>
